/*Colors Of flat Design*/
.my-turquoise,.my-hover-turquoise:hover{color: #fff!important;background-color:#1abc9c!important}
.my-emerald,.my-hover-emerald:hover{color: #fff!important;background-color:#2ecc71!important}
.my-peter-river,.my-hover-peter-river:hover{color: #fff!important;background-color:#3498db!important}
.my-amethyst,.my-hover-amethyst:hover{color: #fff!important;background-color:#9b59b6!important}
.my-wet-asphalt,.my-hover-wet-asphalt:hover{color: #fff!important;background-color:#34495e!important}
.my-green-sea,.my-hover-green-sea:hover{color: #fff!important;background-color:#16a085!important}
.my-nephritis,.my-hover-nephritis:hover{color: #fff!important;background-color:#27ae60!important}
.my-belize-hole,.my-hover-belize-hole:hover{color: #fff!important;background-color:#2980b9!important}
.my-wisteria,.my-hover-wisteria:hover{color: #fff!important;background-color:#8e44ad!important}
.my-midnight-blue,.my-hover-midnight-blue:hover{color: #fff!important;background-color:#2c3e50!important}
.my-sun-flower,.my-hover-sun-flower:hover{color: #fff!important;background-color:#f1c40f!important}
.my-carrot,.my-hover-carrot:hover{color: #fff!important;background-color:#e67e22!important}
.my-alizarin,.my-hover-alizarin:hover{color: #fff!important;background-color:#e74c3c!important}
.my-clouds,.my-hover-clouds:hover{color: #fff!important;background-color:#ecf0f1!important}
.my-concrete,.my-hover-concrete:hover{color: #fff!important;background-color:#95a5a6!important}
.my-orange,.my-hover-orange:hover{color: #fff!important;background-color:#f39c12!important}
.my-pumpkin,.my-hover-pumpkin:hover{color: #fff!important;background-color:#d35400!important}
.my-pomegranate,.my-hover-pomegranate:hover{color: #fff!important;background-color:#c0392b!important}
.my-silver,.my-hover-silver:hover{color: #fff!important;background-color:#bdc3c7!important}
.my-asbestos,.my-hover-asbestos:hover{color: #fff!important;background-color:#7f8c8d!important}
/*text colors*/
.my-text-turquoise,.my-hover-text-turquoise:hover{color:#1abc9c!important}
.my-text-emerald,.my-hover-text-emerald:hover{color:#2ecc71!important}
.my-text-peter-river,.my-hover-text-peter-river:hover{color:#3498db!important}
.my-text-amethyst,.my-hover-text-amethyst:hover{color:#9b59b6!important}
.my-text-wet-asphalt,.my-hover-text-wet-asphalt:hover{color:#34495e!important}
.my-text-green-sea,.my-hover-text-green-sea:hover{color:#16a085!important}
.my-text-nephritis,.my-hover-text-nephritis:hover{color:#27ae60!important}
.my-text-belize-hole,.my-hover-text-belize-hole:hover{color:#2980b9!important}
.my-text-wisteria,.my-hover-text-wisteria:hover{color:#8e44ad!important}
.my-text-midnight-blue,.my-hover-text-midnight-blue:hover{color:#2c3e50!important}
.my-text-sun-flower,.my-hover-text-sun-flower:hover{color:#f1c40f!important}
.my-text-carrot,.my-hover-text-carrot:hover{color:#e67e22!important}
.my-text-alizarin,.my-hover-text-alizarin:hover{color:#e74c3c!important}
.my-text-clouds,.my-hover-text-clouds:hover{color:#ecf0f1!important}
.my-text-concrete,.my-hover-text-concrete:hover{color:#95a5a6!important}
.my-text-orange,.my-hover-text-orange:hover{color:#f39c12!important}
.my-text-pumpkin,.my-hover-text-pumpkin:hover{color:#d35400!important}
.my-text-pomegranate,.my-hover-text-pomegranate:hover{color:#c0392b!important}
.my-text-silver,.my-hover-text-silver:hover{color:#bdc3c7!important}
.my-text-asbestos,.my-hover-text-asbestos:hover{color:#7f8c8d!important}


/*stat of changes*/

.my-reorder {
    font-size:25px;
    cursor:all-scroll;
}


.my-cursor-hand {
    cursor: hand;
}



header, main, footer {
    padding-left: 240px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.my-container {
    max-width: 1150px;
}

